<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AcurusResume">
<parameter name="browsername" value="chrome"></parameter>
	<listeners>
		<listener class-name="classUtils.ReportingExtent"></listener>
	</listeners>
	
	<test name="ResumeTracker">
		<parameter name="browsername" value="chrome"></parameter>
		<classes>
			<!-- <class name="PageTest.AddApplicantDemoTest"></class> -->
			<class name="PageTest.EducationTest"></class>
		</classes>

	</test> <!-- Testdemo -->
</suite> <!-- Suitetest -->